snippet main "int main() {" b
int main() {
	$1
}
endsnippet

snippet specificCalculator "int main() {" b
#include <bits/stdc++.h>
using namespace std;
int main() {
	cin >> "$1" >> endl;
	return 0;
}
endsnippet
