snippet mainf "public static void main(String[] args) {" b
public static void main(String[] args) {
	$1
}
endsnippet

snippet sysout "System.out.println(...) {" b
System.out.println($1);
endsnippet

snippet class "public class ... {" b
public class $1 {
	$2
}
endsnippet
